<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.iknowboardserver.mapper.BoardMapper">
    <resultMap id="BoardResultMap" type="com.example.iknowboardserver.domain.board.entity.Board">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="contentId" column="content_id"/>
        <result property="writerId" column="writer_id"/>
    </resultMap>
    <select id="selectAll" resultMap="BoardResultMap">
        SELECT *
        FROM board
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (title, created_at, updated_at, content_id, writer_id)
        VALUES (#{title}, #{createdAt}, #{updatedAt}, #{contentId}, #{writerId})
    </insert>
    <select id="selectById" resultMap="BoardResultMap">
        SELECT *
        FROM board
        WHERE id = #{id}
    </select>
    <update id="update" parameterType="com.example.iknowboardserver.domain.board.entity.Board">
        UPDATE board
        SET title   = #{title},
            updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="long">
        DELETE
        FROM board
        WHERE id = #{id}
    </delete>
</mapper>